<html>

<head>
    <title>Pokerapp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>

<div ng-app = "mainApp" ng-controller = "pokerController">
    <p>{{street}}</p>
    <table>
        <tr ng-repeat = "holecard in allHoleCardsWrapper.allHoleCards">
            <td>
                <button class="cardButton" ng-disabled="disabledS" ng-click="disabledS = true; setHoleCard(holecard.spades)">{{holecard.spades}}</button>
            </td>
            <td>
                <button class="cardButton" ng-disabled="disabledC" ng-click="disabledC = true; setHoleCard(holecard.clubs)">{{holecard.clubs}}</button>
            </td>
            <td>
                <button class="cardButton" ng-disabled="disabledD" ng-click="disabledD = true; setHoleCard(holecard.diamonds)">{{holecard.diamonds}}</button>
            </td>
            <td>
                <button class="cardButton" ng-disabled="disabledH" ng-click="disabledH = true; setHoleCard(holecard.hearts)">{{holecard.hearts}}</button>
            </td>
        </tr>
    </table>

    <div id="selectedHoleCards" ng-hide="hideHoleCardsDiv">
        <p>First holecard: {{firstHoleCard}} </p>
        <p>Second holecard: {{secondHoleCard}} </p>
    </div>

    <div id="selectedFlopCards" ng-hide="hideFlopCardsDiv">
        <p>First flopcard: {{firstFlopCard}} </p>
        <p>Second flopcard: {{secondFlopCard}} </p>
        <p>Third flopcard: {{thirdFlopCard}} </p>
    </div>



    <div id="controlButtons">
        <button class="proceedOrStayButton" ng-disabled="disableOkButton" ng-click="submitHoleCardsToServer()">OK</button>
        <button class="proceedOrStayButton" ng-disabled="disableResetButton" ng-click="reset()">Reset</button>
    </div>
</div>
</body>
</html>