<html>

<head>
    <title>Pokerapp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>

<div ng-app = "mainApp" ng-controller = "pokerController">
    <div>
        <span>
            <button class="positionButton" ng-disabled="disablePositionButtons" ng-click="selectPosition(ip)">IP</button>
            <button class="positionButton" ng-disabled="disablePositionButtons" ng-click="selectPosition(oop)">OOP</button>
        </span>
        <span ng-show="showChosenPosition">
            Position: {{position}}
        </span>
    </div>

    <p>{{street}}</p>

    <div>
        <div class="button-table">
            <table>
                <tr ng-repeat = "holecard in allHoleCards">
                    <td>
                        <button class="cardButton" ng-disabled="disable_{{holecard.spades}}" ng-click="selectCard(holecard.spades)">{{holecard.spades}}</button>
                    </td>
                    <td>
                        <button class="cardButton" ng-disabled="disable_{{holecard.clubs}}" ng-click="selectCard(holecard.clubs)">{{holecard.clubs}}</button>
                    </td>
                    <td>
                        <button class="cardButton" ng-disabled="disable_{{holecard.diamonds}}" ng-click="selectCard(holecard.diamonds)">{{holecard.diamonds}}</button>
                    </td>
                    <td>
                        <button class="cardButton" ng-disabled="disable_{{holecard.hearts}}" ng-click="selectCard(holecard.hearts)">{{holecard.hearts}}</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="handadvice">
            <div ng-show="showActionBlock">{{action}}</div>

            <div class="selectedCards-street" ng-show="showSelectedHoleCardsFromServerInHandAdviceDiv">Holecards:</div>
            <span id="first holecard">
                {{selectedHoleCard1FromServer.rank}}{{selectedHoleCard1FromServer.suit}}
            </span>
            <span id="second holecard">
                {{selectedHoleCard2FromServer.rank}}{{selectedHoleCard2FromServer.suit}}
            </span>

            <div class="selectedCards-street" ng-show="showSelectedFlopCardsFromServerInHandAdviceDiv">Flopcards:</div>
            <span id="first flopcard">
                {{selectedFlopCard1FromServer.rank}}{{selectedFlopCard1FromServer.suit}}
            </span>
            <span id="second flopcard">
                {{selectedFlopCard2FromServer.rank}}{{selectedFlopCard2FromServer.suit}}
            </span>
            <span id="third flopcard">
                {{selectedFlopCard3FromServer.rank}}{{selectedFlopCard3FromServer.suit}}
            </span>

            <div class="selectedCards-street" ng-show="showSelectedTurnCardFromServerInHandAdviceDiv">Turncard:</div>
            <span id="turncard">
                {{selectedTurnCardFromServer.rank}}{{selectedTurnCardFromServer.suit}}
            </span>

            <div class="selectedCards-street" ng-show="showSelectedRiverCardFromServerInHandAdviceDiv">Rivercard:</div>
            <span id="rivercard">
                {{selectedRiverCardFromServer.rank}}{{selectedRiverCardFromServer.suit}}
            </span>
        </div>
    </div>

    <div id="selectedHoleCardsBeforeSentToServer" ng-hide="hideHoleCardsBeforeSentToServerDiv">
        <p>First holecard: {{firstCard}} </p>
        <p>Second holecard: {{secondCard}} </p>
    </div>

    <div id="selectedFlopCardsBeforeSentToServer" ng-hide="hideFlopCardsBeforeSentToServerDiv">
        <p>First flopcard: {{firstCard}} </p>
        <p>Second flopcard: {{secondCard}} </p>
        <p>Third flopcard: {{thirdCard}} </p>
    </div>

    <div id="selectedTurnCardBeforeSentToServer" ng-hide="hideTurnCardBeforeSentToServerDiv">
        <p>Turncard: {{firstCard}} </p>
    </div>

    <div id="selectedRiverCardBeforeSentToServer" ng-hide="hideRiverCardBeforeSentToServerDiv">
        <p>Rivercard: {{firstCard}} </p>
    </div>


    <div id="controlButtons">
        <button class="proceedOrStayButton" ng-disabled="disableOkButton" ng-click="submitCardsToServer()">OK</button>
        <button class="proceedOrStayButton" ng-disabled="disableResetButton" ng-click="reset()">Reset</button>
    </div>
</div>
</body>
</html>