<html>
    <head>
        <title>Heads Up NLHE against computer</title>
        <link rel="stylesheet" type="text/css" href="/css/cards.css" />
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="/js/play-against-bot.js"></script>
    </head>

    <body>
        <div ng-app = "mainApp" ng-controller = "pokerController">
            <div>
                <button ng-click="startGame()">Start game</button>
            </div>
            <div style={{dealerButtonStyle}}>
                <strong>D</strong>
            </div>
            <div class="cards_wrapper">
                <span id="my_hand">
                    <div class="playingCards">
                        <ul class="table">
                            <li>
                                <div class={{holeCard1Class}}>
                                    <span class="rank">{{holeCard1ConvertedRank}}</span>
                                    <span class="suit">{{holeCard1SuitUniCode}}</span>
                                </div>
                            </li>
                            <li>
                                <div class={{holeCard2Class}}>
                                    <span class="rank">{{holeCard2ConvertedRank}}</span>
                                    <span class="suit">{{holeCard2SuitUniCode}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </span>
                <span id="flop">
                    <div class="playingCards">
                        <ul class="table">
                            <li>
                                <div class={{flopCard1Class}}>
                                    <span class="rank">{{flopCard1ConvertedRank}}</span>
                                    <span class="suit">{{flopCard1SuitUniCode}}</span>
                                </div>
                            </li>
                            <li>
                                <div class={{flopCard2Class}}>
                                    <span class="rank">{{flopCard2ConvertedRank}}</span>
                                    <span class="suit">{{flopCard2SuitUniCode}}</span>
                                </div>
                            </li>
                            <li>
                                <div class={{flopCard3Class}}>
                                    <span class="rank">{{flopCard3ConvertedRank}}</span>
                                    <span class="suit">{{flopCard3SuitUniCode}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </span>
                <span id="computer_hand">
                    <div class="playingCards">
                        <ul class="table">
                            <li>
                                <div class="card back">*</div>
                            </li>
                            <li>
                                <div class="card back">*</div>
                            </li>
                        </ul>
                    </div>
                </span>
            </div>

            <div>
                <span id="my_stack">{{computerGame.myStack}}</span>
                <span id="computer_stack">{{computerGame.computerStack}}</span>
            </div>

            <div>
                <span id="my_bet_size">{{computerGame.myTotalBetSize}}</span>
                <span id="computer_bet_size">{{computerGame.computerTotalBetSize}}</span>
            </div>

            <div id="pot">
                {{computerGame.potSize}}
            </div>

            <div id="written_computer_action">
                {{computerGame.computerWrittenAction}}
            </div>

            <div><button class="action_button" ng-click="submitMyAction(fold)">fold</button></div>
            <div><button class="action_button" ng-click="submitMyAction(check)">check</button></div>
            <div><button class="action_button" ng-click="submitMyAction(call)">call</button></div>
            <div><button class="action_button" ng-click="submitMyAction(bet)">bet</button></div>
            <div><button class="action_button" ng-click="submitMyAction(raise)">raise</button></div>
            <div><input type="text" ng-model="computerGame.myTotalBetSize"></div>
        </div>
    </body>
</html>