.cardButton {
  width: 50px;
  height: 25px;
}

.positionButton {
  width: 40px;
  height: 22px;
}

.proceedOrStayButton {
  width: 55px;
  height: 25px;
}

.button-table {
  height: 385px;
  float: left;
}

.handadvice {
  height: 385px;
  margin-left: 40px;
  display: inline-block;
}

.selectedCards-street {
  font-weight: bold;
}

.boardEvaluationFunctionResult {
  margin-left: 40px;
  display: inline-block;
}